!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='javascripts/jquery.min.js', type='text/javascript')
    script(src='javascripts/underscore.js', type='text/javascript')
    script(src='javascripts/backbone.js', type='text/javascript')
    script(src='javascripts/levenshtein.js', type='text/javascript')
    script(src='javascripts/backbone/models/friend.js', type='text/javascript')
    script(src='javascripts/backbone/collections/friends.js', type='text/javascript')
    script(src='javascripts/backbone/routes/friends_router.js', type='text/javascript')
    script(src='javascripts/backbone/views/friends/index.js', type='text/javascript')
    script(src='javascripts/backbone/views/friends/edit.js', type='text/javascript')
  body!= body