script(type="underscore/template", id="friend_names_template")
  <h2><%= collection.name %> (<%= collection.length %>)</h2>
  <ul></ul>
div(id="loading") Loading...
div.container
  h1 Friends by Levenshtein Distance
  div(id="friends_container")
